@import "components/_variable.scss";
@import "components/_button.scss";
@import "components/_mixins.scss";
@import "base/_global.scss";
@import "base/_typography.scss";
@import "layout/_header.scss";
@import "layout/_footer.scss";
@import "animations/_animations.scss";
@import "animations/_heart.scss";
@import "animations/_loading.scss";

.menu-btn {
  margin: -5px 30px 30px 30px;
}

main {
  #localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-loc;

    .localisation-icon {
      margin-right: 16px;
      height: 20px;
    }

    .localisation-title {
      font-size: 19px;
    }
  }

  #about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $background;
    height: 270px;

    #about-title {
      font-size: 40px;
      margin: 20px 30px 15px 30px;
      margin-top: 25px;
    }

    #about-texte {
      font-size: 18px;
      margin: 20px 30px 15px 30px;
    }
  }

  #fonctionnement {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;

    &-liste {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .fonctionnement-item {
        border-radius: 20px;
        background-color: $background;
        width: 330px;
        height: 72px;
        text-align: center;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include object-shadow;

        &:hover {
          .fonctionnement-icon {
            color: $purple;
          }
        }

        .fonctionnement-counter {
          border-radius: 50%;
          color: #ffffff;
          background-color: $purple;
          margin-left: -45px;
          height: 25px;
          width: 25px;
        }
      }
    }
  }

  #restaurants {
    background-color: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    #restaurants-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      width: 80%;

      .restaurants-card {
        width: 490px;
        height: 340px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 15px 15px;
        color: black;
        font-size: 18px;
        position: relative;
      }

      .restaurants-img {
        position: relative;
      }

      img {
        width: 490px;
        height: 231px;
        border-radius: 15px 15px 0 0;
      }

      .restaurants-cards-img {
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        background-color: $lightgreen;
        color: $darkgreen;
        width: 100px;
        height: 30px;
        top: 5%;
        right: 5%;
        position: absolute;
      }

      .restaurants-description {
        margin-left: 6%;
        position: relative;
      }

      .restaurants-icon {
        position: absolute;
        top: 78%;
        right: 10%;
      }
    }
  }
}


@media (max-width: 767.98px) {

  main {
    margin-left: 2px;

    #localisation {
      @include object-shadow;

      .localisation-title {
        font-size: 22px;
      }
    }

    #about {
      height: 270px;

      #about-texte {
        margin: $margin-intro !important;
      }

      #about-button {
        margin: $margin-intro !important;
      }

      #about-title {
        font-size: 24px;
        margin: $margin-intro !important;
        margin-top: 25px;
      }
    }

    #fonctionnement {
      margin: 0 10px;
      width: 100%;

      #fonctionnement-liste {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: normal;

        .fonctionnement-item {
          width: 375px;
          display: flex;
          align-items: center;
          justify-content: center;

          .fonctionnement-counter {
            position: relative;
            left: -75px;
            bottom: -2px;
          }

          .fonctionnement-icon {
            position: relative;
            left: -50px;
          }

          .fonctionnement-description {
            position: relative;
            left: -20px;
          }
        }
      }
    }

    #restaurants {
      width: 100% !important;

      .restaurants-card {
        margin: 3% 3%;
      }

      #restaurants-items {
        display: flex;
        justify-content: center;
        width: 100% !important;

        img {
          width: 100% !important;
          height: 231px;
          border-radius: 15px 15px 0 0;
        }
      }
    }
  }
}