.btn {
  border: 0;
  width: 218px;
  height: 40px;
  padding: 12px 24px;
  margin: 15px 30px 15px 30px;
  font-weight: 500;
  font-size: 19px;
  border-radius: 100px;
  color: white;
  background-image: $gradiant;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px #afafaf;
  transition: opacity 350ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}