$purple: #9356dc;
$darkblue: #003a68;
$lightblue: #89c8fa;
$darkgreen: #008766;
$lightgreen: #99e2d0;
$background-loc: #EAEAEA;
$background: #F6F6F6;
$shadow: #d5d5d5;
$white: white;
$font-header: 'Shrikhand', 'cursive';
$margin-intro: 20px 30px 0 30px;

$gradiant: linear-gradient(0deg, rgba(147, 89, 220, 1) 0%, rgba(255, 121, 218, 0.9) 100%);

$degree: 357deg;

$icons-delay: 610ms;

$breakpoints: (
        mobile: 768px,
        table: 1024px,
);